 <div class="row">
  <ul class="tabs" data-tab>
  </ul>
  <img src="images/plus.png" class="plusTable" title="Add Table">

  <div class="tabs-content">

    <div class="content active" id="panel0">
      <img title="Add Column" class="plusColumns" src="images/plus.png">
      <img title="Add Row" class="plusRow" src="images/plus.png">
      
      <section class="tableContainer">
        <table>
          <thead id="columnName">
            <tr></tr>
          </thead>
          
          <tbody class="columnRow">
          </tbody>
        </table>
      </section>

    </div>
  </div>
</div>