<div class="panel remarkPanel">
	<h4>Effect : Test Subject</h4>
	<textarea target="" placeholder="Edit here ..." rows="4"></textarea>
	<button class="tiny expand">Done</button>
</div>

<div class="panel tagPanel">
  <h5>Tag</h5>
  <article>
  	<ul>
  	</ul>

	  <div class="row">
	    <div class="large-12 columns">
	      <div class="row collapse">
	        <div class="small-10 columns">
	          <input type="text" placeholder="Add Tag">
	        </div>
	        <div class="small-2 columns">
	          <a href="#" class="button postfix addTag"></a>
	        </div>
	      </div>
	    </div>
	  </div>
  </article>
</div>